.sakarlogo{
    background-image: url("../images/logo4.png");
    background-size: cover;
    background-repeat: no-repeat;
    height:80px;
    width:140px;
}

.fa-user-circle-o{
    font-size: 28px;
}