.align-serch-bar{
    padding-top: 15%;
    padding-left: 45%;
    padding-right: 20%;

}

.align-serch-bar .searchbtn{
    width: 30%;
    background-color: green;
}
.form-control, .search-job .form-group .form-control.btn{
    border-radius: 25px;
}
@media (max-width: 1824px) {
    .align-serch-bar{
        padding-top: 20%;
        padding-left: 25%;
        padding-right: 20%;
    
    }
    
}

@media (max-width: 1224px) {
    .align-serch-bar{
        padding-top: 25%;
        padding-left: 25%;
        padding-right: 20%;
    
    }
    
}
@media (max-width: 992px) {
    .align-serch-bar{
        padding-top: 30%;
        padding-left: 20%;
        padding-right: 20%;
    
    }
    
}

@media (max-width: 768px) {
    .align-serch-bar{
        padding-top: 32%;
        padding-left: 20%;
        padding-right: 20%;
    
    }
    
}